{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
  
	<title>MediCare</title>
	<meta content="" name="descriptison">
	<meta content="" name="keywords">
  
	<!-- Favicons -->
	<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
	<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
	<!-- Google Fonts -->
	<link
	  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	  rel="stylesheet">
  
	<!-- Vendor CSS Files -->
	<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<script LANGUAGE="Javascript" >
		function validate(){
			var x=document.forms["f1"]["t1"].value;
			var y=document.forms["f1"]["t2"].value;
			
			if(x == null || x==""){
				window.alert("patient name must be enter");
				document.f1.t1.focus();
				return false;
			}
			if(y == null || y==""){
				window.alert("prescription must be enter");
				document.f1.t2.focus();
				return false;
			}
			return true;
		}				
	</script>
</head>
  
<body>
	<!-- ======= Top Bar ======= -->
	<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
		<div class="container d-flex">
		  <div class="contact-info mr-auto">
			<!-- <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
			<i class="icofont-phone"></i> +1 5589 55488 55
			<i class="icofont-google-map"></i> A108 Adam Street, NY -->
		  </div>
		  <div class="social-links">
			<!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
			<a href="#" class="facebook"><i class="icofont-facebook"></i></a>
			<a href="#" class="instagram"><i class="icofont-instagram"></i></a>
			<a href="#" class="skype"><i class="icofont-skype"></i></a>
			<a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> -->
		  </div>
		</div>
	  </div>
	
	  <!-- ======= Header ======= -->
	  <header id="header" class="fixed-top">
		<div class="container d-flex align-items-center">
	
		  <h1 class="logo mr-auto"><a href={% url 'check_logged_in' %}>MediCare</a></h1>
		  <!-- Uncomment below if you prefer to use an image logo -->
		  <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
	
		  <nav class="nav-menu d-none d-lg-block">
	
		  </nav><!-- .nav-menu -->
	
	
	
		  <a href="{% url 'ViewPatientRequest' %}" class="appointment-btn scrollto">View Patient Requests</a></li>
		  <a href="{% url 'logout' %}" class="appointment-btn scrollto">Logout</a></li>
	
	
	
		</div>
	  </header><!-- End Header -->
<div id="wrapper">
	
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'ViewPatientRequest' %}">View Patient Requests</a></li>
	   <li><a href="{% url 'index' %}">Logout</a></li>
			
		</center></ul>
<br class="clearfix" />
				</div>
			
			<center>
<form name="f1" method="post" action={% url 'PrescriptionAction' %} OnSubmit="return validate()">
	{% csrf_token %}<br/><br><br>
   <h3><b>Prescription Screen</b></h3>
   <br>
	<font size="" color="red"><center>{{ data }}</center></font>
						
					{{ data1|safe }}	
		 
			<tr><td></td><td><a href="SentPrescription.html"><input class="btn btn-primary" type="submit" value="Submit"></a>

			</td>
			</table>
				</div>	
					
				</div>
				
	</body>
</html>